*{
    margin: 0;
    padding: 0;
    font-family: monospace;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #9affb8, rgb(149, 213, 255));
    color: #3b3737;
    font-size: xx-large;
    text-align: center;
    padding: 2%;
    padding-left: 2%;
}
.container h1{
    display: flex;
    align-items: left;
    font-weight: 600;
}
.container h1 img{
    width: 60px;
}
.container button img{
    width: 20px;
    margin-right: 2px;
}
.container button{
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, #b2b2b2, rgb(59, 59, 59));
    color: #fff;
    font-size: 16px;
    outline: 0;
    border: 0;
    border-radius: 15px;
    padding: 10px 25px;
    margin: 30px 0 30px;
    cursor: pointer;
}
.input-box{
    position: relative;
    width: 100%;
    max-width: 500px;
    min-height: 150px;
    background: rgb(111, 111, 111);
    color: #fff;
    padding: 20px;
    margin: 30px 0;
    outline: none;
    border-radius: 10px;
    text-align: left;
    font-size: small;
}
.input-box img{
    width: 50px;
    position: absolute;
    bottom: -18px;
    right: -20px;
    cursor: pointer;
}